<p id="notice"><%= notice %></p>

<p>
  <b>Body:</b>
  <%= @item.body %>
</p>

<p>
  <b>Cue:</b>
  <%= @item.cue %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
