<p id="notice"><%= notice %></p>

<p>
  <b>Body:</b>
  <%= @item.body %>
</p>

<p>
  <b>Cue:</b>
  <%= @item.cue %>
</p>


<%= link_to 'Edit', edit_cue_item_path%> |
<%= link_to 'Back', cue_items_path %>
